@font-face {
    font-family: 'VitroCore';
    src: url('VITRO\ CORE\ TTF.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') format('woff');
    font-style: normal;
}